* {
  margin: 0;
}

html,
body {
  height: 100%;
  /* Criando variável de cores grey e black */
  --grey: hsl(240, 3%, 80%);
  --black: hsl(240, 6%, 13%);
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  /* Adiciono a imagem de background não repetindo a imagem, centralizando e cobrindo toda a tela do dispositivo */
  background: url(images/background.svg) no-repeat center/cover;
  /* Preenche toda largura */
  width: 100vw;
  min-height: 812px;
  /* Preenche toda altura */
  height: 100vh;
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey)
}

.avatar {
  width: 10rem;
  /* Alinhando margem. Top Button Right Left */
  margin: 11.5rem auto 0;
  /* Com o position relative a foto do avatar vira o limite do selo */
  position: relative;
}
   /* Procura na div avatar o span que está dentro  */
.avatar span {
  /* Coloca o selo em cima da foto de perfil */
  position: absolute;
  /* Subo o selo de posição */
  top: -10px;
  /* Profundiade*/
  z-index: 1;
}

/* Na div avatar eu seleciono a tag img de primeiro nível. No arquivo html tenho outra tag img dentro da div span. Assim seleciono apenas a foto de perfil */
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  margin-top: 0.5rem;
  /* adapto a imagem dentro da largura e altura que defini nas linhas acima*/
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.09rem;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
  color: white;
}

a {
  color: var(--grey);
  text-decoration: none; 
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  /* Removo os pontos da lista ordenada */
  list-style: none;
  padding: 0;
 /* Faço com que a lista fique na horizontal */
  display: flex;
  /* Adiciono espaço entre os itens da lista */
  gap: 0.5rem;
  /* Alinho ao centro a lista. Só posso usar o "justify-content" por conta do "display: flex" */
  justify-content: center;

}

/* Incluindo e alterando cor nas bordas da lista. Além disso damos um zoom no item selecionado*/
li a {
  transition: 0.5s;
  display: inline-block;  
  background-color: #FF217C
}

/* Ação para quando o mouse pousar em cima de um dos itens da lista*/
li a:hover {
  transform: scale(1.2);
  background-color: #FFAD30;
}

/* Looping no selo */
.avatar span {
  animation: rotating 5s linear infinite;
}

@keyframes rotating {
  to {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
  }  
}

/* Media Queries - {Funciona como condição, só cairá aqui caso a tela tenha no mínimo 960px de largura} */
@media (min-width: 960px) {
  main {
    background: url(images/background_desktop.svg) center/cover;
    background-color: black;
    min-height: 820px;
  }
}
